extends layout

block content
  h1= title
  #blogs
    - each blog in blogs
      div.blog
        p
        div.title
          b
            | ~
            a(href="/blogs/"+blog.id)!= blog.title
            |  | 
            text= blog.created_at
        p
        div.img
            img(src=blog.image_url, height='150px')
        div.body!= blog.above_fold
