extends layout

block content
  h1= title
  div.project
    div.created_at= project.created_at
    div.banner
      img(src=project.picture, height='150px')
    p
    div.description!= project.description
    p
    div.timeframe= project.timeframe
    p
    div.role!= project.role
