extends layout

block content
  h1= title
  #projects
    - each project in projects
      div.project
        p
        div.title
          b
            | $
            a(href="/projects/"+project.id)!= project.title
            |  | 
            text= project.created_at
        p
        div.banner
            img(src=project.picture, height='150px')
        div.description!= project.description
